/* Post app css*/


* {
    margin: 0;
    padding: 0;
}

.post-main {
    height: 100vh;
    background: linear-gradient(#00c6ff, #0078ff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}

.post {
    height: 400px;
    width: 490px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}

.post h3 {
    font-size: 1.4rem;
    text-align: center;
}

.post .hr {
    width: 90%;
    height: 1px;
    background-color: #dddfe2;
    margin: auto;
    margin-top: 10px;
}


.browser-img #userImage {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.flex {
    display: flex;
    margin-left: 20px;
}

.user-details {
    margin: 20px 10px;
}

.user-details h2 {
    font-size: 20px;
}

#display {
    width: 90%;
    border: none;
    outline: none;
    font-size: 22px;
    margin: -20px 10px;
    height: 130px;
    padding: 0 10px 50px 20px;
}

.icons .bx {
    font-size: 25px;
    padding-left: 15px;
    margin-left: 45px;
}

.postBtn {
    width: 450px;
    background-color: #0078ff;
    margin: 30px 23px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
}

.postBtn:hover {
    background-color: #0093FF;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.newPost {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.newPost {
    height: 100vh;
    margin: 40px auto;
    width: 400px;
    background: rgb(180, 15, 15) !important;
    height: 400px;
    border-radius: 50px 0px 0px 0px;
    background: linear-gradient(#00c6ff, #0078ff) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: none;
}

.newPost h3 {
    margin-top: 30px;
    font-size: 26px;
    margin-bottom: 140px;
    color: #fff;
    padding-top: 20px;
}

.newPost h3::after {
    content: '';
    width: 80px;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
    top: 118%;
    left: 50%;
    transform: translateX(-50%);
}

.newPost p {
    margin-bottom: 150px;
}

.newPost .bx {
    font-size: 28px;
    margin-left: 10px;
    padding: 0px 30px;
}

/* .newPost .createdPost h3{
    margin-top: 40px;
} */